@media screen and (max-width: 1024px) {
    .container{
        padding: 0 20px;
    }
    header{
        .container{
            padding-top: 17px;
            padding-bottom: 12px;
        }
        .logo{
            max-width: 126px;
            z-index: 1;
        }
    }
    .mobile-container{
        position: absolute;
        flex-direction: column;
        background-color: $bg-secondary;
        z-index: 2;
        left:0;
        right: 0;
        top: 69px;
        transition: all 0.3s;
        transform: translate(-100%, 0);
        padding: 37px 40px 60px;
        box-shadow: 14px 22px 40px 0 rgba(30, 35, 66, 0.28);

        
        &.show{
            transform: translate(0, 0);
            transition: .3s;
        }
        
        nav{
            flex-direction: column;
            gap: 10px;
            margin-bottom: 35px;
            margin-top: 0;
            a{
                font-size: 24px;
                padding: 0 24px;
                line-height: 222%;
                
            }
        }

        .btn{
            padding: 22px 21px;
            justify-content: center;
            max-width: 295px;
            width: 100%;
            margin: 0 auto;
            font-size: 16px;
            letter-spacing: 0;
        }
    }
    .hamburger{
        display: block;
    }

    .banner 
    {
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        padding: 0;
        &-slider {
            height: calc(100vh - 69.2px);
            border-radius: 0;
          }

        .swiper-slide{
            border-radius: 0;
            padding: 0 20px;
            text-align: center;
            background-size: cover;
            background-position: center;

            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: #04051199;
                z-index: -1;
            }
            h1 {
                font-size: 32px;
            }
            h5 {
                
                    font-size: 16px;
                    padding: 0px 12px;
                    line-height: 1.4;
                    margin-bottom: 18px;
            }
        }
    }

    .calculation-decoration{
        display: none;
    }
    
    .calculation-form{
        margin: 0 auto;
    }
}


