@media screen and (max-width: 767px) {
    .form-row {
        flex-direction: column;
        gap: 0;
    }

    .input-box {
        margin: 0 0 17px;
    }

    .calculation-form{
        padding: 51px 30px 34px;
        .btn-lg {
            width: 100%;
            margin-top: 14px;
            .icon{
                margin: 0 -14px 0 auto;
            }
        }
    }

    .control-box:first-child{
        margin-top: 9px;
    }
}
