.calculation{
    .container{
    position: relative;
    }
}

.calculation-form {
    padding: 47px 50px 61px;
    background: $bg-secondary;
    border-radius: 20px;
    max-width: 626px;
    width: 100%;
}

.form-row {
    display: flex;
    gap: 30px;
}

.form-column{
    width: 100%;
}

.input-box {
    margin: 0 0 18px;
    &:last-child{
        margin-bottom: 17px;
    }
}

.control-box {
    margin-bottom: 14px;
    &:first-child{
        margin-top: 22px;
    }
    label{
        font-size: 15px;
    }
}

[type='file'] {
    display: none;
    +label{
        font-size: 15px;
        border: 1px dashed rgba(255, 255, 255, 0.2588235294);
        width: 100%;
        margin-top: 27px;
        text-align: center;
        padding: 13px;
        line-height: 1;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.3s;
        margin-bottom: -12px;
        &:hover{
            border-color: $color-secondary;
            color: $color-secondary;
        }
    }
}

.file-name {
    font-size: 15px;
    line-height: 0.7;
    margin: 0px 0px -11px 0px;
}

.calculation-decoration{
    position: absolute;
    left: 613px;
    bottom: -$section-margin-lg;
    min-width: 370px;
    width: 29.167vw;
    max-width: 560px;
}