header{
    .container{
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 39px;
    }
    .btn{
        padding: 13px 21px;
        font-weight: 600;
    }

    .mobile-container{
        display: flex;
        width: 100%;

        nav{
            display: flex;
            gap: 45px;
            align-items: center;
            font-weight: 400;
            margin: 0 auto;
            a{
                color: #fff;
                text-decoration: none;
                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}

.btn-burger{
    position: relative;
    border: none;
    margin: 6px 0 0 auto;
}

.btn-burger,
.btn-burger::before,
.btn-burger::after{
    content: "";
    background: #fff;
    height: 2px;
    width: 28px;
    display: inline-block;
}

.btn-burger::before,
.btn-burger::after{
    position: absolute;
    top: 12px;
    left: 0;
}

.btn-burger::after{
    top: 24px;
}