header{
    .container{
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 39px;
    }
    .btn{
        padding: 13px 26px;
        font-weight: 600;
    }
}

.logo {
    max-width: 172px;
    width: 100%;
}

.hamburger{
    margin: 7px 0 0 auto;
    transition: all .3s;
    padding: 0px 0px;
    display: none;
}
.hamburger-box {
    width: 28px;
    height: 26px;
}
.hamburger-inner::before {
    top: -11px;
}
.hamburger-inner::after {
    bottom: -11px;
}

.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner::before, 
.hamburger.is-active .hamburger-inner::after ,
.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    background-color: #fff;
    width: 27.5px;
    height: 2px;
}

.mobile-container{
    display: flex;
    width: 100%;

    nav{
        display: flex;
        gap: 45px;
        align-items: center;
        font-weight: 400;
        margin: 0 auto;
        a{
            color: #fff;
            text-decoration: none;
            &:hover{
                color: $color-primary;
            }
        }
    }

    &.show{
        display: flex;

    }

}