
<section class="calculation">
    <div class="container">
        <div class="template-title case-3">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>
        </div>
        <form class="calculation-form">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-box">
                        <label for="">Категория товара:</label>
                        <input type="text" placeholder="Категория товара">
                    </div>
                    <div class="input-box">
                        <label for="">Вес груза (кг):</label>
                        <input type="text" placeholder="Введите вес">
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="">Стоимость груза:</label>
                        <input type="text" placeholder="Введите стоимость">
                    </div>
                    <div class="input-box">
                        <label for="">Объем груза (м3):</label>
                        <input type="text" placeholder="Введите объем">
                    </div>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-column">
                    <div class="control-box">
                        <input type="checkbox">
                        <label for="">Страховка</label>
                    </div>
                    <div class="control-box">
                        <input type="checkbox">
                        <label for="">Таможенное оформление</label>
                    </div>  
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="">Код ТН ВЭД:</label>
                        <input type="text">
                    </div>
                </div>
            </div>  
            <div class="form-row">

                <div class="form-column">
                    <div class="control-box">
                        <div class="file-name"></div>
                        <input id="product-photo" class="custom-file" type="file">
                        <label for="product-photo">Загрузить фото товара</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="control-box">
                        <button type="button" class="btn btn-primary btn-lg">Следующий шаг<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                    </div>
                </div>
            </div>


        </form>
    </div>
</section>