<section class="banner container-xxl"> 
    <div class="banner-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(assets/img/first-screen-1.png);">
                <div class="container">
                    <h1>Прямое КАРГО из Китая</h1>
                    <h5>Доставляем любые грузы из Китая по честной цене</h5>
                    <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(assets/img/first-screen-2.png);">
                <div class="container">
                    <h1>Выкуп товара с ТаоБао, 1688</h1>
                    <h5>Выкуп и доставка товаров с китайских торговых площадок. </h5>
                    <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(assets/img/first-screen-3.png);">
                <div class="container">
                    <h1>Выкуп товара с ТаоБао, 1688</h1>
                    <h5>Выкуп и доставка товаров с китайских торговых площадок. </h5>
                    <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(assets/img/first-screen-4.png);">
                <div class="container">
                    <h1>Выкуп товара с ТаоБао, 1688</h1>
                    <h5>Выкуп и доставка товаров с китайских торговых площадок. </h5>
                    <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>