<header>
    <div class="container">
        <a href="index.html" class="logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="logo">
        </a>
        <div class="mobile-container">
            <nav>
                <a href="">Цены и сроки</a>
                <a href="">Услуги</a>
                <a href="">О компании</a>
                <a href="">Контакты</a>
                <a href="">Оформить груз</a>
            </nav>
            <button type="button" class="btn btn-primary">Оставить заявку</button>
        </div>
        <button class="btn-burger"></button>

    </div>
</header>


